<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">

</head>
<body>
    <h1 th:text="${title}">Default Title</h1>
    <nav th:replace="fragments :: navigation"></nav>

    <p th:unless="${cheeses} and ${cheeses.size()}">no cheese :(</p>


    <form method="post" >

    <table>
        <tr th:each="cheese : ${cheeses.entrySet()}" >
            <td> <input th:type="checkbox" name="cheese" id = "cheese" th:value="${cheese.key}"/> </td>
            <td th:text="${cheese.key}">Cheese</td>
            <td th:text="${cheese.value}">Description</td>

        </tr>
    </table>
    <input th:type="Submit" value="Remove Cheese" />

    </form>

</body>
</html>